<div>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PatientList' | localize" [description]="'PatientHeaderInfo' | localize">
            <div role="actions">
                <button (click)="createPatient()" class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{ 'CreateNewPatient' | localize }}
                </button>
            </div>
        </sub-header>
        <div [class]="containerClass">
            <div class="row">
                <div class="col-12">
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <!-- keyExpr="ID" -->
                        <dx-data-grid
                            id="gridContainer"
                            [dataSource]="primengTableHelper.records"
                            
                            [showBorders]="true"
                            >
                            <dxi-column
                                dataField="id"
                                [width]="90"
                                caption="id">
                            </dxi-column>
                            <dxi-column
                                dataField="patientName"
                                [width]=""
                                caption="patientName">
                            </dxi-column>
                            <dxi-column
                                dataField="gender"
                                caption="Status">
                            </dxi-column>
                            <dxi-column
                                dataField="resourceId"
                                caption="Assigned Employee ID">
                            </dxi-column>
                            
                        </dx-data-grid>



                        <!-- <p-table
                            #dataTable
                            (onLazyLoad)="loadPatients()"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            selectionMode="single"
                            [(selection)]="selectedPatient"
                            (onRowSelect)="onRowSelect($event)"
                            [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px">{{ 'Actions' | localize }}</th>
                                    <th>{{ 'Name' | localize }}</th>
                                    <th>{{ 'BirthDate' | localize }}</th>
                                    <th>{{ 'Gender' | localize }}</th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr [pSelectableRow]="record">
                                    <td style="width: 130px">
                                        <div class="btn-group" dropdown placement="bottom left">
                                            <button
                                                id="dropdownButton"
                                                type="button"
                                                class="btn btn-primary btn-sm dropdown-toggle"
                                                dropdownToggle
                                                aria-controls="dropdownMenu"
                                            >
                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                                {{ 'Actions' | localize }}
                                            </button>
                                            <ul
                                                id="dropdownMenu"
                                                class="dropdown-menu"
                                                role="menu"
                                                *dropdownMenu
                                                aria-labelledby="dropdownButton">
                                                <li role="menuitem">
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item" (click)="deletePatient(record)">{{ 'Delete' | localize }}</a>
                                                </li>
                                                <li role="menuitem">
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item" (click)="downloadPatient(record)">{{ 'Download' | localize }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <a
                                        [routerLink]="['detail']"
                                        [queryParams]="{ id: record.resourceId }"
                                        queryParamsHandling="merge"
                                        *ngIf="record.patientName"
                                    >
                                        {{ record.patientName }}
                                    </a>
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ 'BirthDate' | localize }}</span>
                                        {{ record.birthDate }}
                                    </td>
                                    <td>
                                        <span class="p-column-title">{{ 'Gender' | localize }}</span>
                                        {{ record.gender }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table> -->
                        
                    </div>
                </div>
            </div>
        </div>
        <createOrUpdatePatientModal
            #createOrUpdatePatientModal
            (modalSave)="loadPatients()"
        ></createOrUpdatePatientModal>
    </div>
</div>
